# 빌드 결과물
build/bin/

# 프론트엔드
node_modules/
frontend/dist/

# Go
*.exe
!server-data/PHGC.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
# 민감한 데이터 및 엑셀 파일 차단
*.xlsx
*.db
docs/
